.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7fb;
}

.content-body {
  display: flex;
  flex: 1;
  /* background: #fff; */
  margin: 10px;
  border-radius: 5px;
}

.content-main {
  flex: 1;
  padding: 20px;
}


.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
}


.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.toolbar input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.toolbar button {
  background-color: #0048ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #0033cc;
}

.doc-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
}

.doc-table th,
.doc-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.status {
  background: #fff7e6;
  color: #b58900;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 13px;
}
