
.sidebar {
  width: 250px;
  background-color: #f7f7f7;
  padding: 10px;
  border-right: 1px solid #ccc;
  height: 100vh;
   background: linear-gradient(
        to bottom right, 
        rgb(241, 235, 229), 
        rgb(255, 255, 255)
    );
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

.create-btn {
  width: 100%;
  padding: 10px;
   background-color: #e2974d;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.create-btn:hover{
  background-color: #dd8339;
}

.menu {
  margin-top: 15px;
}

.menu-item {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #f0eeee;
  
}

.submenu {
   font-size: 15px;
  margin:0 0 0 15px;
  display: flex;
  flex-direction: column;
}
.submenu .subitem{
  padding: 2px;
}

.submenu a {
  padding: 6px 10px;
  text-decoration: none;
  color: #555;
}

.submenu a:hover {
  background-color: #ddd;
}
