
.sidebar {
  width: 250px;
  /* background-color: #f7f7f7; */
   background: #ffffff;
  padding: 10px;
  border-right: 1px solid #ccc;
  height: 100%;
   /* background: linear-gradient(
        to bottom right, 
        rgb(241, 235, 229), 
        rgb(255, 255, 255)
    ); */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
}

/* .create-btn {
  width: 100%;
  padding: 10px;
   background-color: #e2974d;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.create-btn:hover{
  background-color: #dd8339;
} */
.sidebar button{
  width: 100%;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;   /* căn giữa theo chiều dọc */
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.menu {
  margin-top: 15px;
}

.menu-item {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #f0eeee;
  
}
.menu-item.active-menu {

  color: #0B57D0;
    font-weight: 600;
}
.subitem.active-sub {
    color: #0B57D0;
    font-weight: 600;
}

.submenu {
  font-size: 15px;
  font-weight: 500;
  margin:0 0 0 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.submenu .subitem{
  padding: 5px;
}
.submenu .subitem:hover{
    background-color: #f0eeee;
}

.submenu a {
  padding: 6px 10px;
  text-decoration: none;
  color: #555;
}

.submenu a:hover {
  background-color: #ddd;
}
